# Preimenuj ovaj file u .env.local i unesi svoje Supabase podatke
# (Supabase dashboard -> Project Settings -> API)

NEXT_PUBLIC_SUPABASE_URL=https://tvoj-projekt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tvoj-anon-public-key
